<li>
	<img src="{{upload}}" alt="{{name}}">
	<h3></h3>
	<p><span>Breed: </span>{{name}}</p>
	<p><span>Description: </span>{{description}}</p>
	<ul class="buttons">
		<li class="btn edit"><a href="/edit-pet/{{_id}}">Change Info</a></li>
		<li class="btn delete"><a href="/pet-shelter/{{_id}}">New Home</a></li>
	</ul>
</li>