<form action="/edit-pet/{{_id}}" class="cat-form" method="post">
    <h2>Edit Pet</h2>
    <label for="name">{{name}}</label>
    <input name="name" type="text" id="name" value="{{name}}">
    <label for="description">Description</label>
    <textarea name="description" id="description">{{description}}</textarea>
    <label for="image">Image</label>
    <input name="upload" type="text" id="image" value="{{upload}}">
    <label for="group">Breed</label>
    <select id="group">
        <option value="{{_id}}">{{breed}}</option>
    </select>
    <button>Edit Cat</button>
</form>